<div class="hall__ticket__container">
    <div class="accordian__body">
        <div class="accordian__header">
            <div class="correct"><fa-icon [icon]="correctIcon" class="icon"></fa-icon></div>
            <p class="title">Congratulations ! You have successfully applied for the walk-in opportunity</p>
        </div>
        <hr />
        <div>
            <p class="accordian__title">Date & Time of Walk-In :</p>
            <div class="accordian__content">
                <p>03rd July 2021</p>
                <p>9:00 AM to 11:00 AM</p>
            </div>
        </div>
        <hr />

        <div>
            <p class="accordian__title">Venue of Walk-In :</p>
            <div class="accordian__content">
                <p>
                    Zeus Systems Pvt. Ltd. <br>1402,
                    14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam Marg <br>Lower
                    Parel (W) <br> Mumbai - 400 013 <br> Phone: +91-22-66600000
                </p>
            </div>
        </div>

        <hr />
        <div>
            <p class="accordian__title">THINGS TO REMEMBER :</p>
            <div class="accordian__content">
                <p>
                    - Please report 30 MINUTES prior to your reporting time. <br>- Download your Hall Ticket from below and
                    carry it with you during your Walk-In.
                </p>
            </div>
        </div>
        <hr/>
        <div class="hall__ticket__btn">
            <button class="btn">DOWNLOAD HALL TICKET</button>
        </div>


    </div>
</div>